@tailwind base;
@tailwind components;
@tailwind utilities;

.dropshadow {
    text-shadow: 2px 2px 2px black;
}

#background {
    background-image: url(/bikeship-ui/public/mountains-bg.svg);
    background-repeat: no-repeat;
}
