<div id="mode-selector" class="flex  fixed right-5 top-20 h-16 w-36 z-10 border-solid border-2 border-black rounded-full">
    <img src="eye.svg" alt="eye" class="mr-3" (click)="selectViewMode()" id="eye">
    <img src="plus.svg" alt="plus" (click)="selectAddMode()" id="plus">
</div>
<div id="map-container" class="h-screen w-screen"></div>
<div id="popup" class="ol-popup bg-white">
  <form style="display: flex; flex-direction: column; justify-content: center;">
    <label for="name">Name:</label>
    <input type="text" id="name">
    <label for="startzeit">Startzeit:</label>
    <input type="date" id="startzeit">
    <input type="button" value="Erstellen" style="margin-top: 10px;" onclick="createMeetUp();">
  </form>
</div>