<div id="mode-selector" class="flex  fixed right-5 top-20 h-16 w-36 z-10">
  <img src="eye.svg" alt="eye" class="mr-3" (click)="selectViewMode()" id="eye">
  <img src="plus.svg" alt="plus" (click)="selectAddMode()" id="plus" class="opacity-50">
</div>
<div id="map-container" class="h-screen w-screen"></div>
<!-- PopUp für das Hinzufügen von Treffen -->
<div id="addPopup" class="ol-popup bg-slate-900 rounded-lg" style="width: 246px;">
  <form style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
    [formGroup]="addPopupForm"
    (ngSubmit)="collectPopupDataAndPost()"
    >
    <div class="mt-3">
      <label for="name" class="mb-2 font-medium text-white">Name</label> <br>
      <input type="text" id="name"
        class="p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        style="width: 178px;" formControlName="name">
    </div>
    <div>
      <label for="startzeit" class="mb-2 font-medium text-white">Startzeit</label>
      <input type="date" id="startzeit" formControlName="startzeit"
        class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div style="width: 178px;">
      <label for="beschreibung" class="mb-2 font-medium text-white">Beschreibung</label>
      <textarea id="beschreibung" rows="4" style="width: 178px;"
        class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Für wen aller ist das Treffen, Wie viele Leute sind geplant..."
        formControlName="beschreibung"></textarea>
    </div>
    <button type="submit"
      class="mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-4 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Erstellen</button>
  </form>
</div>
<!-- PopUp für das Anschauen von Treffen -->
<div id="viewPopup" class="ol-popup bg-slate-900 rounded-lg" style="width: 320px;">
  <form style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
    [formGroup]="viewPopupForm"
    (ngSubmit)="collectPopupDataAndPost()"
    >
    <img class="w-full h-16 object-cover rounded-t-lg" src="meetup_cover.png" alt="bikers from behind">
    <div class="w-full flex items-baseline justify-end">
      <p class="text-white mr-5 ">erstellt von <b id="userCreated">User</b></p>
    </div>
    <div class="w-full flex items-baseline justify-end">
      <p class="text-gray-400 mr-5 text-sm">am <span id="dateCreated"></span></p>
    </div>
    
    <div class="mt-3">
      <label for="name" class="mb-2 font-medium text-white">Name</label> <br>
      <input type="text" id="name"
        class="p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        style="width: 220px;" formControlName="name">
    </div>
    <div>
      <label for="startzeit" class="mb-2 font-medium text-white">Startzeit</label>
      <input type="text" id="startzeit" formControlName="startzeit"
        class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div style="width: 220px;">
      <label for="beschreibung" class="mb-2 font-medium text-white">Beschreibung</label>
      <textarea id="beschreibung" rows="4" style="width: 220px;"
        class="mb-4 w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Für wen aller ist das Treffen, Wie viele Leute sind geplant..."
        formControlName="beschreibung"></textarea>
    </div>
  </form>
</div>