<nav>
    <div class="flex">
        <a class="flex justify-start w-1/3">
            <img src="https://raw.githubusercontent.com/KraetSpg/BikeShip_Magenta/main/bikeship-ui/public/logo.webp" alt="" class="h-12 w-auto ml-4">
        </a>
        <div class="flex justify-self-center w-1/3">
            <a href="" class="self-center text-xl font-semibold hover:text-indigo-600">Home</a>
            <a href="" class="self-center text-xl font-semibold  ml-10 hover:text-indigo-600">Karte</a>
            <a href="" class="self-center text-xl font-semibold  ml-10 hover:text-indigo-600">Biker</a>
            <a href="" class="self-center text-xl font-semibold  ml-10 hover:text-indigo-600">Routen</a>
        </div>
    </div>
</nav>