<div class="flex align-center justify-center">
    <div class="flex overflow-x-scroll space-x-4 p-4 w-4/5 h-20">
        <div class="flex-none w-48 relative bg-gray-200 text-black text-center flex items-center justify-center py-4 rounded-lg">
            <a href="#">In meiner Nähe</a>
        </div>
        <div class="flex-none w-48 relative bg-gray-200 text-black text-center flex items-center justify-center py-4 rounded-lg">
            <a href="#">50ccm</a>
        </div>
        <div class="flex-none w-48 relative bg-gray-200 text-black text-center flex items-center justify-center py-4 rounded-lg">
            <a href="#">125ccm</a>
        </div>
        <div class="flex-none w-48 relative bg-gray-200 text-black text-center flex items-center justify-center py-4 rounded-lg">
            <a href="#">126-500ccm</a>
        </div>
        <div class="flex-none w-48 relative bg-gray-200 text-black text-center flex items-center justify-center py-4 rounded-lg">
            <a href="#">&gt;500ccm</a>
        </div>
        <div class="flex-none w-48 relative bg-gray-200 text-black text-center flex items-center justify-center py-4 rounded-lg">
            <a href="#">Electric</a>
        </div>
        <div class="flex-none w-48 relative bg-gray-200 text-black text-center flex items-center justify-center py-4 rounded-lg">
            <a href="#">Mountain</a>
        </div>
        <div class="flex-none w-48 relative bg-gray-200 text-black text-center flex items-center justify-center py-4 rounded-lg">
            <a href="#">Road</a>
        </div>
    </div>
    <div class="bg-gradient-to-r from-transparent to-yellow-500 w-44 h-10 flex items-center justify-center">
        <button class="bg-gray-200 text-black text-center py-4 rounded-lg ">Alle anzeigen</button>
    </div>
</div>
